:root {
  --list-item-width: 50px;
  --list-item-height: 65px;
  --list-item-padding: 1px;
  --list-item-image-width: var(--list-item-width);
  --list-item-image-height: var(--list-item-width);

  --select-item-width: 60px;
  --select-item-image-width: var(--select-item-width);
  --select-item-image-height: var(--select-item-image-width);
}

@media (max-width: 767px) {
  :root {
    --select-item-width: 50px;
  }
}
